.navbar{
  height: 45px;
  background-color: #eef3f3;
  display: flex;
  justify-content: center;
}

.navContainer{
  width: 100%;
  max-width: 1024px;
  color: rgb(47, 46, 46);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-weight: 500;
}

.navButton{
  margin-left: 20px;
  border: 1px solid rgb(128, 62, 0);
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f7f7f7;
  color: rgb(128, 62, 0);
}